@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #181f52;
    --secondary-color: #EAEAEA;
    --heart-color: #FF0000;
    --navigation-color: #20a6ff;
    --border-color: #cccccc67;
}

body {
    width: 100%;
    height: 100vh;
    background: var(--primary-color);
}

.body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-x: hidden;
}

.body h3 {
    color: var(--secondary-color);
    margin-bottom: 10px;
}

/* Slide */
.carousel-container {
    width: 100%;
    max-width: 800px;
    overflow: hidden;
}

.carousel {
    width: 100%;
}

.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.slide {
    min-width: 100%;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
}
/* FIM - Slide */

/* Conteiner Textos */
.container-txt {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-txt h3 {
    color: var(--secondary-color);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 10px;
}

.container-txt h2 {
    color: var(--secondary-color);
    font-size: 1.3rem;
    font-weight: 300;
}

.container-txt hr {
    width: 100%;
    margin: 15px;
    border-color: var(--border-color);
}

.container-txt .paragraph {
    width: 100%;
    color: var(--secondary-color);
    margin-bottom: 10px;
    text-align: justify;
}
/* FIM - Conteiner Textos */

/* Efeito */
.hearts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Desabilitar eventos de ponteiro nos hearts */
    overflow: hidden;
}

.heart {
    position: absolute;
    width: 30px; /* Aumentar o tamanho do heart */
    height: 30px;
    background: var(--heart-color);
    clip-path: path("M12 4.419c-2.826-5.695-11.999-4.064-11.999 3.27 0 7.27 9.903 10.938 11.999 15.311 2.096-4.373 12-8.041 12-15.311 0-7.327-9.17-8.972-12-3.27z");
    animation: fall linear infinite;
    z-index: 100;
}

@keyframes fall {
    0% {
        transform: translateY(-100vh);
        opacity: 1;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0;
    }
}
/* FIM - Efeito */